<div class="postlist clearfix">
    <div class="post-item ">
        <div class="post-title"><h1>QuickIO.NET</h1></div>
        <div class="post-desc clearfix">
            <p>
                QuickIO.NET is an extension for the .NET Framework to provide faster file operations.<br />
                To offer you a simple use and an easy integration QuickIO.NET methods lean against the ones provided by the .NET Framework.
            </p>
            <p>
                <strong>Requirements</strong>
                .NET 2.0 or higher<br />
                <strong>License</strong>
                <a href="http://quickio.codeplex.com/license" target="_blank">Microsoft Public License (Ms-PL)</a><br />
            </p>
        </div>
    </div>
    <div class="post-item ">
        <div class="post-title"><h2>Main features</h2></div>
        <div class="post-desc clearfix">
            <ul class="feature">
                <li>
                    &rArr;&nbsp; <strong>Much</strong> faster browsing of folder structures (up to 30x faster)
                </li>
                <li>
                    &rArr;&nbsp; Lightning-fast retrieve of <strong>metadata</strong> of folders, files, and directory structures
                </li>
                <li>
                    &rArr;&nbsp; File chunk support for reading, comparisons and hashing.
                </li>
                <li>
                    &rArr;&nbsp; Data transfer services <strong>monitored file and directory copy/move with progress events</strong>
                </li>
                <li>
                    &rArr;&nbsp; Custom service and job support (via extensions and own implementation)
                </li>
                <li>
                    &rArr;&nbsp; <strong>Long path support</strong> (UNC paths) up to 32767 characters
                </li>
                <li>
                    &rArr;&nbsp; Calculate <strong>checksums of files and file chunks</strong>
                </li>
                <li>
                    &rArr;&nbsp; Fully tested source code using UnitTests
                </li>
                <li>
                    &rArr;&nbsp; Nearly identical signature of methods. So a simple replacement is possible
                </li>
                <li>
                    &rArr;&nbsp; <strong>Async</strong> Operations (requires .NET 4.0)
                </li>
                <li>
                    &rArr;&nbsp; Multiple releases from .NET 2.0 to .NET 4.5
                </li>
            </ul>
        </div>
    </div>
    <div class="post-item ">
        <div class="post-title"><h2>License</h2></div>
        <div class="post-desc clearfix">
            <p>
                QuickIO.NET is published under <a href="https://quickio.codeplex.com/license" target="_blank">Microsoft Public License</a>.
            </p>
            <p>
                QuickIO.NET is completely free for private and commerical usage.<br />
                There are no instructions on the use of QuickIO.NET prescribed; I would nevertheless happy about a nomination.
            </p>
        </div>
    </div>
    <div class="post-item ">
        <div class="post-title"><h2>Performance Comparison</h2></div>
        <div class="post-desc clearfix">
            <p>
                QuickIO.NET avoids unnecessary, duplicate checks and can provide an increased performance compared to standard methods of the .NET framework.
            </p>
            <p><img title="Performance Comparison" alt="Performance Comparison" class="comparisonpic" src="res/netperfcomparison.png"></p>
        </div>
    </div>
    <div class="post-item ">
        <div class="post-title"><h2>Download</h2> </div>
        <div class="post-desc clearfix">
            <p>Download the latest version of QuickIO.NET <a href="https://quickio.codeplex.com/releases" target="_blank"><strong>here</strong></a> or use <a href="https://www.nuget.org/packages/QuickIO.NET/" target="_blank">NuGet:</a></p>
            <a href="https://www.nuget.org/packages/QuickIO.NET/" target="_blank">
                <img src="https://img.shields.io/nuget/dt/QuickIO.NET.svg" />
            </a> <a href="https://www.nuget.org/packages/QuickIO.NET/" target="_blank">
                <img src="https://img.shields.io/nuget/v/QuickIO.NET.svg" />
            </a>
            <p class="nugetbox">
                <code>
                    PM &gt; Install-Package QuickIO.NET
                </code>
            </p>

        </div>
    </div>
    <div class="post-item ">
        <div class="post-title"><h2>Mono</h2></div>
        <div class="post-desc clearfix">
            <p>
                I am a software developer with focused on high-performance web applications in ASP.NET, clouds and Microsoft Azure.
                <br />I have no contact with Linux environments. Therefore, I have lost track of Mono support.<br />
                If someone agreed to integrate Mono support, so please get in touch with me.
            </p>
        </div>
    </div>
    <div class="post-item ">
        <div class="post-title"><h2>Code Support</h2></div>
        <div class="post-desc clearfix">
            <p>
                Please do not contact me if you have trouble with QuickIO by email.
                <br />
                Report bugs only on <a href="https://quickio.codeplex.com/discussions" target="_blank">QuickIO's CodePlex</a> site.
            </p>
            <p>
                For integration support into your application use QuickIO's OnlineHelp or a forum of your choice.
            </p>
        </div>
    </div>
</div>